{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
        <div class="container">
            <img src="{% static "blog/priya.jpg" %}" alt="My image" height="120" width="120" align="right"/>
             <p>   
             </br>   
            Hi,</p>
            <p >I am Priya. </p>
            <p>I am currently a graduate student at New York University pursuing Master's in Informatics and a Data Scientist aspirant. Informatics is a field that has a blend of Information Science and Computer Science. Basically, I work with DATA. </p>
            <p>The beauty of working with Data is that along with computing you get to perform exclusive analysis like NLP, Social Network Analysis and statists therby wearing hat of a Linguist, Network Analyst and statistician respectively. </p>
            <p>
            In the few months at NYU, I have been exploded with the umpteen number of tools,projects,people developing ways to use information to enhance insight. And I truly believe that THIS is the place to be, if you are want to endeavour for something new</p>
            <p>
            This blog is effort in documenting all the projects that I do. I named my blog Data GLEE because even though "DATA" is used in a technical sense, it appeals to me as a delight ! And as John Keats has said , <i>'A thing of beauty is a joy forever!' </i>
            </p>
            
        </div>
    
        <div class="post" >
            <h5 style="font-size:30px"><b><i>I LOOK AT THE WORLD THROUGH DATA-TINTED GLASSES</i></b></h5>
            <h5 style="font-size:20px"><a href="{%url 'yelping'%}">Yelp-ing The Way To Inspection</a></h5>
            <h5 style="font-size:20px"><a href="{%url 'IndianRailways'%}">Indian Railway Connections</a><h5>
            <h5 style="font-size:20px"><a href="{%url 'Gapminder'%}">Replicating Gapminder Maps</a><h5>
            <h5 style="font-size:20px"><a href="{%url 'Youtube'%}">Youtube Globe</a><h5>
            <h5 style="font-size:20px"><a href="https://priyakhokher.github.io/LGBT_Network/" target="_blank">LGBT Network</a><h5>
            <h5 style="font-size:20px"><a href="https://www.youtube.com/watch?v=YElVeDAxdnk" target="_blank">CAPSTONE: Pedestrian Counting from NYC DOT Feeds using Computer Vision</a><h5>
            <h5 style="font-size:20px"><a href="https://nyu.carto.com/u/priyasinghkhokher/viz/954b7e42-6273-11e6-b72b-0e98b61680bf/public_map" target="_blank">Entity Recongnition (Toponym Extraction) on New York Tweets</a><h5>


            
    </div>
    

{% endblock content %}