<html>
<head>

<title>Data Glee Homepage</title>
</head>

<body>

<div>
    <h1><a href="/">Data GLEE</a></h1>
</div>

{% for post in posts %}
    <div>
        
        <h1><a href="">{{ post.title }}</a></h1>
        <p>published: {{ post.published_date }}</p>
        <p>{{ post.text|linebreaks }}</p>
    </div>
{% endfor %}
 </body>
 <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
 <script>
 var viz = d3.select("#div");
 viz.selectAll("div")
 	.text('Data Glee');
 </script>


</html>