
{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}

<div>
	<h1>Indian Railways Connections</h1>
	<p>Networks are such a marvel. And so are all the efforts to make it quantitative. The reason being that it seems intuitive and maintains a level of abstraction. And since it is garnering a new label and subject title for its own in the field of Data Science, learning it would definitely help know more about your product and its interconnections with other products to sell the right thing to your customers.</p>
	<p>My professor,<a href="http://sobolevsky.net/"> Dr. Stanislav Sobolevsky </a> at NYU, who taught me Network Analysis would always recommend to do things by example and believe more in projects that assignments. A part of what we had done for his project was to see how Indian Railways were connected (as shown below). My team included (Nikhil Kishore, Neil D'Souza [also my <a href="https://priyakhokher.github.io/LGBT_Network/">best friend </a>] and Sachin Varma)</p>
	<p>Prior to this I did not know that India has a well-maintained database of railway connections. Though the names of different stations at different locations was difficult to geocode (using Google API) because of the name mismatch. Standardizing that would be a good way up.</p>
	<p>The network we visualized was</p>
	<div class="container" width='100px' height='100px'>
	<img src="{% static "blog/inr0.png" %}" alt="My image"/>
	</div>
	<div class="container" width='100px' height='100px'>
	<img src="{% static "blog/inr1.png" %}" alt="My image"/>
	</div>
	<p>Further Analysis using <a href="https://networkx.github.io/">NetworkX</a> package in Python.</p>
 	<ol><b><i>Degree centrality: </b></i>
 		
 		<li>Howrah Junction - 68  (marked X)</li>
        <li>New Delhi - 48 </li>
        <li>Lokmanya Tilak - 46 </li>	
     </ol> 
     <img src="{% static "blog/inr2.png" %}" alt="My image"/>  
     <ol><b><i>                            	
	Eigen-vector: </b></i>
	<li>Howrah Junction - 0.275527717266</li>
	<li>Chennai Central - 0.224605874594  </li>
	<li>New Delhi - 0.213179694338 </li>
	</ol>
	<ol>
		<b><i>
	Betweenness: </b></i>
	<li>Howrah Junction - 0.179544117088 </li>
	<li>New Delhi - 0.109405168355 </li>
	<li>Lokmanya Tilak - 0.10671055416</li>
	</ol>
	

	<p>Highest shortest path of 9
<i>Indore, Akola, Kacheguda, Chennaiegmore, Dibrugarh, Delhi, Alipurduar, Dhubri and Silghat Town</i> 

</p>
<img src="{% static "blog/inr3.png" %}" alt="My image"/>
</div>


{% endblock content %}