.page-header {
    background-color: #ff7418;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}
.page-header h5, .page-header h5 a, .page-header h5 a:visited, .page-header h5 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}
.container {
      display:inline-block;
    }

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}
h5{
    font-family: 'Montserrat', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
.post h5 a, .post h5 a:visited {
    color: #000000;
}

ul{
                float: left;
                list-style: none;
            }
            
            .domain{
                stroke-width: 0.8;
                fill: none;
                stroke : #ccc;
            }
            
            .tick{
                stroke-width: 0.8;
                opacity: 0.7;   
                font-size: 12;
            }
            
            .tick line{
                fill: none; 
                stroke: #ccc;
            }
            
            #tooltip{
                position : absolute;
                top: 0;
                left:0;
                background-color: rgba(255,255,255,0.8);
                padding:5;
                border: solid 1px black;
                transition: "all 0.5s";
                opacity: 1
            }

.water {
  fill: #00248F;
  cursor: move;
}

.land {
  fill: #A98B6F;
  stroke: #FFF;
  stroke-width: 0.7px;
  cursor: move;
}

.land:hover {
  fill:#33CC33;
  stroke-width: 1px;
}

.focused {
  fill: #33CC33;
}

select {
  position: absolute;
  top: 20px;
  left: 580px;
  border: solid #ccc 1px;
  padding: 3px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
}

.countryTooltip {
  position: absolute;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 5px;
  text-align: left;
  border: solid #ccc 1px;
  color: #666;
  font-size: 14px;
  font-family: sans-serif;
}
            